@use '../../foundation/breakpoint' as m;



@include m.mq(sp) {
  .c-archive__image--cheeseBurger {
    background-image: url(../image/hamburger.png);
    height: 230px;
    width: 100%;
    display: block;
    background-size: cover;
    img {
      width: 100%;
      height: auto;
    }
  }
  .c-archive__image--w-cheeseBurger {
    background-image: url(../image/hamburger.png);
    height: 230px;
    width: 100%;
    display: block;
    background-size: cover;
  }
  .c-archive__image--s-cheeseBurger {
    background-image: url(../image/hamburger.png);
    height: 230px;
    width: 100%;
    display: block;
    background-size: cover;
  }
}

@include m.mq(tab) {
  .c-archive__image--cheeseBurger {
    background-image: url(../image/hamburger.png);
    width: 50%;
    background-size: cover;
    img {
      width: 100%;
      height: auto;
      min-height: 231px;
    }
  }
  .c-archive__image--w-cheeseBurger {
    background-image: url(../image/hamburger.png);
    width: 50%;
    background-size: cover;
  }
  .c-archive__image--s-cheeseBurger {
    background-image: url(../image/hamburger.png);
    width: 50%;
    background-size: cover;
  }
}

@include m.mq(pc) {
  .c-archive__image--cheeseBurger {
    background-image: url(../image/hamburger.png);
    width: 50%;
    background-size: cover;
    img {
      width: 100%;
      height: auto;
    }
  }
  .c-archive__image--w-cheeseBurger {
    background-image: url(../image/hamburger.png);
    width: 50%;
    background-size: cover;
  }
  .c-archive__image--s-cheeseBurger {
    background-image: url(../image/hamburger.png);
    width: 50%;
    background-size: cover;
  }
}