@use '../../foundation/breakpoint' as m;

@include m.mq(sp) {
  .c-bg--black--archive {
    height: 285px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
  }
}

@include m.mq(tab) {
  .c-bg--black--archive {
    height: 285px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
  }
}

@include m.mq(pc) {
  .c-bg--black--archive {
    height: 239px;
    width: 81.15vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    padding-left: 85px;
  }
}