@use '../../foundation/breakpoint' as m;


// アサイドのメディアクエリ
@include m.mq(sp) {
  .p-aside--fonts {
    h2 {
      font-size: 34px;
      color: #707070; 
      font-family: "Roboto";
      font-weight: bold;
    }
    h3 {
      font-size: 24px;
      color: #707070; 
      font-family: "M+ 1m";
      font-weight: bold;
    }
    li {
      font-size: 20px;
      color: #707070; 
      list-style: none;
      font-family: "M+ 1m";
      font-weight: "regular";
      margin-left: 3rem;
    }
  }
}

@include m.mq(tab) {
  .p-aside--fonts {
    h2 {
      font-size: 34px;
      color: #707070; 
      font-family: "Roboto";
      font-weight: bold;
    }
    h3 {
      font-size: 24px;
      color: #707070; 
      font-family: "M+ 1m";
      font-weight: bold;
    }
    li {
      font-size: 20px;
      color: #707070; 
      list-style: none;
      font-family: "M+ 1m";
      font-weight: "regular";
      margin-left: 3rem;
    }
  }
}

@include m.mq(pc) {
  .p-aside--fonts {
    h2 {
      font-size: 34px;
      color: #707070; 
      font-family: "Roboto";
      font-weight: bold;
    }
    h3 {
      font-size: 24px;
      color: #707070; 
      font-family: "M+ 1m";
      font-weight: bold;
    }
    li {
      font-size: 20px;
      color: #707070; 
      list-style: none;
      font-family: "M+ 1m";
      font-weight: "regular";
      margin-left: 3rem;
    }
  }
}

