@use '../../foundation/breakpoint' as m;


@include m.mq(sp) {
  .p-flex--single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@include m.mq(tab) {
  .p-flex--single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@include m.mq(pc) {
  .p-flex--single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}