@use '../../foundation/breakpoint' as m;


@include m.mq(sp) {

}
@include m.mq(tab) {

}
@include m.mq(pc) {
  #menu-side-menu {
    margin-top: 100px;
    .sub-menu {
      margin-bottom: 50px;
    }
    a {
    text-decoration: none;
    font-size: 24px;
    color: #707070; 
    font-family: "M+ 1m";
    font-weight: bold;
    }
    .sub-menu {
      margin-left: 0px;
      a {
        font-size: 20px;
        color: #707070; 
        list-style: none;
        font-family: "M+ 1m";
        font-weight: normal;
      }
    }
  }
}