@use '../../foundation/breakpoint' as m;


@include m.mq(sp) {
  .p-map {
    margin-top: 30px;
    height: auto;
    min-height: 691px;
    width: 100vw;
    background-image: url(../image/map.png);
    background-size: cover;
    background-position: center;
    opacity: 1;
    p {
      color: rgba(255, 255, 255, 1);
      font-size: 14px;
      font-family: "M+ 1m";
      font-weight: bold;
      padding-left: 10%;
      padding-right: 10%;
      line-height: 2.2;
    }
    h2 {
      color: rgba(255, 255, 255, 1);
    }
  }
}

@include m.mq(tab) {
  .p-map {
    min-height: 415px;
    width: 100vw;
    background-image: url(../image/map.png);
    background-size: cover;
    background-position: center;
    opacity: 1;
    p {
      color: rgba(255, 255, 255, 1);
      font-size: 16px;
      font-family: "M+ 1m";
      font-weight: bold;
      padding-left: 10%;
      padding-right: 10%;
      line-height: 2.2;
    }
    h2 {
      color: rgba(255, 255, 255, 1);
    }
  }
}

@include m.mq(pc) {
  .p-map {
    min-height: 650px;
    width: 81.15vw;
    background-image: url(../image/map.png);
    background-size: cover;
    background-position: center;
    opacity: 1;
    p {
      color: rgba(255, 255, 255, 1);
      font-size: 16px;
      font-family: "M+ 1m";
      font-weight: bold;
      padding-left: 10%;
      padding-right: 140px;
      line-height: 2.2;
    }
    h2 {
      color: rgba(255, 255, 255, 1);
    }
  }
}