@use '../foundation/breakpoint' as m;

@include m.mq(sp) {
  .l-header {
    width: 100vw;
    height: 217px;
  }
}

@include m.mq(tab) {
    .l-header {
      width: 100vw;
      max-width: 3000px;
      height: 217px;
    }
  }

@include m.mq(pc) {
  .l-header {
    width: 81.15vw;
    max-width: 3000px;
    height: 217px;
  }
}